# Tutorial Jupyter + SQL

O objetivo aque é mostrar como você pode utilizar os Notebooks para exercitar os seus conhecimentos em SQL.

### 1º Execute os comandos de configuração
Selecione a célula abaixo e pressione "Shift+Enter" ou clique no ícone "Run" (ao lado da célula ou no cabeçalho do notebook).

In [ ]:
# Carregando o módulo SQL
%load_ext sql
# Selecionando o Banco (no caso o SQLite)
%sql sqlite://

Para possibilitar a execução dos comandos é necessário utilizar o comando mágico '%sql' ou '%%sql'.

### 2º Execute o código SQL

Escreva o seu código SQL e execute as células para ver os resultados.

Abaixo segue um exemplo. Execute as células na ordem proposta e veja o resultado.

<b>A) Criando uma tabela</b>

In [ ]:
%%sql   
CREATE TABLE funcionario (
    codigo INTEGER,
    nome VARCHAR(64),
    email VARCHAR(64),
    senha VARCHAR(32),
    PRIMARY KEY (codigo)
);

<b>B) Inserindo dados na tabela</b>

In [ ]:
%%sql
INSERT INTO funcionario VALUES
(1,'Fulano', 'f@gmail.com','123'),
(2,'Ciclano', 'c@gmail.com','231'),
(3,'Beltrano', 'b@gmail.com','312');

<b>C) Recuperando informações da tabela</b>

In [ ]:
%sql SELECT nome, email FROM funcionario;

## Fim! &#128521;

E agora? 

A partir dessa estrutura é possível que você crie o seu próprio Notebook.

No cabeçalho existem opções para criar novas células, recortar, copiar, colar, etc... E essas células podem ser de código (Code) ou de texto (Markdown).

Coloquei outros nobebooks com exercícios para que você Exercite SQL!