# CREATE TABLE

Antes de começar execute os comandos de configuração:

In [1]:
# NÃO ALTERE ESSA CÉLULA
# Carregando o módulo SQL
%load_ext sql
# Selecionando o Banco (no caso o SQLite)
%sql sqlite://

_<span style="color:red">Atenção! Para possibilitar a execução dos comandos é necessário utilizar o comando mágico '%sql' ou '%%sql'.</span>_

### Escreva abaixo o código SQL para criar as tabelas dos respectivos esquemas:

<b> A) </b> Pessoa(nome, sobrenome)

_Resposta:_

In [2]:
%%sql

CREATE TABLE PESSOA (
    nome VARCHAR(32),
    sobrenome VARCHAR(32)
);

 * sqlite://
Done.

[]

<b> B) </b> Usuário

<img src='images/c001.png' style="float: left;" />

In [3]:
%%sql

CREATE TABLE USUARIO (
    codigo INTEGER PRIMARY KEY,
    nome VARCHAR(32),
    data_nascimento DATE
);

 * sqlite://
Done.

[]

<b> C) </b> Paciente

<small>
    Observações:
    <ul>
        <li>Os campos da tabela não podem ser NULL </li>
    </ul>
</small>
<img src='images/l001.png' style="float: left;" />

In [4]:
%%sql

CREATE TABLE PACIENTE (
    codigo INTEGER PRIMARY KEY,
    nome VARCHAR(32),
    data_nascimento DATE,
    plano VARCHAR(16)
);

 * sqlite://
Done.

[]

<b> D) </b> Locadora

<small>
    Observações:
    <ul>
        <li>Nenhum campo do esquema pode ser NULL  </li>
        <li>O campo placa da tabela CARRO deve ser único</li>
    </ul>
</small>

<img src='images/l002.png' style="float: left;" />

In [5]:
%%sql

CREATE TABLE CLIENTE (
    id INTEGER PRIMARY KEY,
    nome VARCHAR(32)
);

CREATE TABLE CARRO (
    codigo INTEGER PRIMARY KEY,
    placa VARCHAR(16),
    modelo VARCHAR(32),
    marca VARCHAR(32),
    ano_fabricacao NUMERIC,
    preco FLOAT,
    FK_CLIENTE_id INTEGER,
    FOREIGN KEY (FK_CLIENTE_id)
        REFERENCES CLIENTE (id)
            ON DELETE NO ACTION
            ON UPDATE CASCADE
);

 * sqlite://
Done.
Done.

[]

<b> E) </b> Receitas

<small>
    Observações:
    <ul>
        <li>Defina um valor padrão para o campo <i>produto_custo</i></li>
    </ul>
</small>

<img src='images/c002.png' style="float: left;" />

In [6]:
%%sql

CREATE TABLE PRODUTO (
    produto_codigo VARCHAR(8) PRIMARY KEY,
    produto_nome VARCHAR(32),
    produto_custo FLOAT
);

CREATE TABLE RECEITA (
    receita_codigo VARCHAR(8) PRIMARY KEY,
    receita_nome VARCHAR(32),
    receita_data DATE,
    receita_tipo VARCHAR(16)
);


CREATE TABLE INGREDIENTE (
    FK_PRODUTO_produto_codigo VARCHAR(8),
    FK_RECEITA_receita_codigo VARCHAR(8),
    quantidade FLOAT,
    PRIMARY KEY (FK_PRODUTO_produto_codigo, FK_RECEITA_receita_codigo),
    FOREIGN KEY (FK_PRODUTO_produto_codigo)
        REFERENCES PRODUTO (produto_codigo)
            ON DELETE NO ACTION
            ON UPDATE CASCADE,
    FOREIGN KEY (FK_RECEITA_receita_codigo)
        REFERENCES RECEITA (receita_codigo)
            ON DELETE NO ACTION
            ON UPDATE CASCADE
);

 * sqlite://
Done.
Done.
Done.

[]

<b> F) </b> Livraria

<small>
    Observações:
    <ul>
        <li>Defina as ações integridade referencial da chave estrangeira</li>
    </ul>
</small>
<img src='images/c003.png' style="float: left;" />

In [7]:
%%sql

CREATE TABLE LEITOR (
    leitorCodigo VARCHAR(16) PRIMARY KEY,
    leitorNome VARCHAR(32),
    leitorTelefone VARCHAR(32),
    leitorEndereco TEXT,
    leitorCPF VARCHAR(16),
    leitorEmail VARCHAR(32),
    leitorSenha VARCHAR(32)
);

CREATE TABLE COMPRA (
    compraCodigo VARCHAR(16) PRIMARY KEY,
    compraData DATE,
    comparaValor FLOAT,
    FK_CLIENTE_leitorCodigo VARCHAR(16),
    FOREIGN KEY (FK_CLIENTE_leitorCodigo)
        REFERENCES CLIENTE (leitorCodigo)
            ON DELETE NO ACTION
            ON UPDATE CASCADE
);

CREATE TABLE LIVRO (
    livroISBN VARCHAR(32) PRIMARY KEY,
    livroAssunto VARCHAR(64),
    livroAutor VARCHAR(32),
    livroTitulo VARCHAR(128),
    livroPreco FLOAT
);

CREATE TABLE PEDIDO (
    FK_LIVRO_livroISBN VARCHAR(32),
    FK_COMPRA_compraCodigo VARCHAR(16),
    PRIMARY KEY (FK_LIVRO_livroISBN, FK_COMPRA_compraCodigo),
    FOREIGN KEY (FK_LIVRO_livroISBN)
        REFERENCES LIVRO (livroISBN)
            ON DELETE NO ACTION
            ON UPDATE CASCADE,
    FOREIGN KEY (FK_COMPRA_compraCodigo)
        REFERENCES COMPRA (compraCodigo)
            ON DELETE NO ACTION
            ON UPDATE CASCADE
);

 * sqlite://
Done.
Done.
Done.
Done.

[]

<b> G) </b> Disciplina

<small>
    Observações:
    <ul>
        <li>Defina as ações integridade referencial da chave estrangeira</li>
        <li>O codigo das disciplinas deve ser definido com um auto incremento inteiro</li>
    </ul>
</small>
<img src='images/c004.png' style="float: left;" />

In [3]:
%%sql 

CREATE TABLE DISCIPLINA (
    codigo INTERGER AUTO_INCREMENT PRIMARY KEY,
    nome VARCHAR(16),
    creditos INTEGER
);

CREATE TABLE PRE_REQUISITO (
    FK_DISCIPLINA_codigo INTEGER,
    FK_DISCIPLINA_codigo_PR INTEGER,
    PRIMARY KEY (FK_DISCIPLINA_codigo, FK_DISCIPLINA_codigo_PR),
    FOREIGN KEY (FK_DISCIPLINA_codigo)
        REFERENCES DISCIPLINA (codigo)
            ON DELETE CASCADE
            ON UPDATE CASCADE,
    FOREIGN KEY (FK_DISCIPLINA_codigo_PR)
        REFERENCES DISCIPLINA (codigo)
            ON DELETE CASCADE
            ON UPDATE CASCADE
);

 * sqlite://
Done.
Done.

[]

<b> H) </b> Empresa

<small>
    Observações:
    <ul>
        <li>Defina quais os campos, na sua opinião, não podem ser NULL</li>
        <li>Defina quais os campos, na sua opinião, devem ser únicos</li>
        <li>Defina quais os campos, na sua opinião, devem possuir um valor padrão</li>
        <li>Defina as ações integridade referencial da chave estrangeira</li>
    </ul>
</small>
<img src='images/l003.png' style="float: left;" />

In [9]:
%%sql

CREATE TABLE FUNCIONARIO (
    funcionarioCodigo VARCHAR(8) PRIMARY KEY,
    funcionarioNome VARCHAR(32),
    funcionarioSalario FLOAT,
    funcionarioTelefone VARCHAR(16),
    funcionarioContratacao DATE
);

CREATE TABLE DEPARTAMENTO (
    departamentoCodigo VARCHAR(8) PRIMARY KEY,
    departamentoOrcamento FLOAT,
    departamentoNome VARCHAR(16),
    FK_FUNCIONARIO_funcionarioCodigo VARCHAR(8),
    FOREIGN KEY (FK_FUNCIONARIO_funcionarioCodigo)
        REFERENCES FUNCIONARIO (funcionarioCodigo)
            ON DELETE NO ACTION
            ON UPDATE CASCADE
);

CREATE TABLE DEPENDENTE (
    filhoCPF VARCHAR(16) PRIMARY KEY,
    filhoNome VARCHAR(32),
    filhoIdade INTEGER,
    FK_FUNCIONARIO_funcionarioCodigo VARCHAR(8),
    FOREIGN KEY (FK_FUNCIONARIO_funcionarioCodigo)
        REFERENCES FUNCIONARIO (funcionarioCodigo)
            ON DELETE CASCADE
            ON UPDATE CASCADE
);

CREATE TABLE LOCAL_TRABALHO (
    FK_DEPARTAMENTO_departamentoCodigo VARCHAR(8),
    FK_FUNCIONARIO_funcionarioCodigo VARCHAR(8),
    cargaHoraria INTEGER,
    PRIMARY KEY (FK_FUNCIONARIO_funcionarioCodigo, FK_DEPARTAMENTO_departamentoCodigo),
    FOREIGN KEY (FK_FUNCIONARIO_funcionarioCodigo)
        REFERENCES FUNCIONARIO (funcionarioCodigo)
            ON DELETE NO ACTION
            ON UPDATE CASCADE,
    FOREIGN KEY (FK_DEPARTAMENTO_departamentoCodigo)
        REFERENCES DEPARTAMENTO (departamentoCodigo)
            ON DELETE NO ACTION
            ON UPDATE CASCADE
);

 * sqlite://
Done.
Done.
Done.
Done.

[]