# INSERT

Antes de começar execute os comandos de configuração:

In [ ]:
# NÃO ALTERE ESSA CÉLULA
# Carregando o módulo SQL
%load_ext sql
# Selecionando o Banco (no caso o SQLite)
%sql sqlite:///databases/receita.db

_<span style="color:red">Atenção! Para possibilitar a execução dos comandos é necessário utilizar o comando mágico '%sql' ou '%%sql'.</span>_

### Observe o seguinte esquema:

<b>1. MODELO CONCEITUAL</b>

<img src='images/c005.png' style="float: left;" />

<b>2. MODELO LÓGICO</b>

<img src='images/l005.png' style="float: left;" />

<b>3. MODELO FÍSICO</b>

CREATE TABLE USUARIO (
  usuarioCodigo INTEGER PRIMARY KEY,
  usuarioTelefone VARCHAR(32) NOT NULL,
  usuarioEmail VARCHAR(128) UNIQUE NOT NULL,
  usuarioNome VARCHAR(128) NOT NULL,
  usuarioSenha VARCHAR(32) NOT NULL
);

CREATE TABLE RECEITA (
  receitaCodigo INTEGER PRIMARY KEY,
  receitaData DATETIME NULL, 
  receitaTempo VARCHAR(32) NULL,
  receitaNome VARCHAR(128) UNIQUE NOT NULL,
  receitaClassificacao INTEGER NOT NULL DEFAULT (0),
  receitaPassos TEXT NOT NULL,
  FK_USUARIO_usuarioCodigo INTEGER NOT NULL,
  FOREIGN KEY (FK_USUARIO_usuarioCodigo)
    REFERENCES USUARIO (usuarioCodigo)
    ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE COMENTARIO (
  comentarioCodigo INTEGER PRIMARY KEY,
  comentarioData DATETIME NOT NULL,
  comentarioTexto TEXT NOT NULL,
  FK_RECEITA_receitaCodigo INTEGER NOT NULL,
  FK_USUARIO_usuarioCodigo INTEGER NOT NULL,
  FOREIGN KEY (FK_RECEITA_receitaCodigo)
    REFERENCES RECEITA (receitaCodigo)
    ON UPDATE CASCADE ON DELETE CASCADE,
  FOREIGN KEY (FK_USUARIO_usuarioCodigo)
    REFERENCES USUARIO (usuarioCodigo)
    ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE INGREDIENTE (
  ingreditenteCodigo INTEGER PRIMARY KEY,
  ingredienteNome VARCHAR(32) NOT NULL,
  ingredienteDescricao TEXT NULL
);

CREATE TABLE CATEGORIA (
  categoriaNome VARCHAR(32) PRIMARY KEY
);

CREATE TABLE INGREDIENTE_RECEITA (
  FK_INGREDIENTE_ingreditenteCodigo INTEGER,
  FK_RECEITA_receitaCodigo INTEGER,
  quantidade FLOAT,
  PRIMARY KEY (FK_INGREDIENTE_ingreditenteCodigo, FK_RECEITA_receitaCodigo),
  FOREIGN KEY (FK_INGREDIENTE_ingreditenteCodigo)
    REFERENCES INGREDIENTE (ingreditenteCodigo)
    ON UPDATE NO ACTION ON DELETE NO ACTION,
  FOREIGN KEY (FK_RECEITA_receitaCodigo)
    REFERENCES RECEITA (receitaCodigo)
    ON UPDATE NO ACTION ON DELETE NO ACTION
);

CREATE TABLE CATEGORIA_RECEITA (
  FK_CATEGORIA_categoriaNome VARCHAR(32),
  FK_RECEITA_receitaCodigo INTEGER,
  PRIMARY KEY (FK_CATEGORIA_categoriaNome, FK_RECEITA_receitaCodigo),
  FOREIGN KEY (FK_CATEGORIA_categoriaNome)
    REFERENCES CATEGORIA (categoriaNome)
    ON UPDATE NO ACTION ON DELETE NO ACTION,
  FOREIGN KEY (FK_RECEITA_receitaCodigo)
    REFERENCES RECEITA (receitaCodigo)
    ON UPDATE NO ACTION ON DELETE NO ACTION
);

 ### Com base no esquema apresentado acima, escreva o código SQL para inserir as seguintes informações no bando de dados.

<b> A) </b> Inserir um usuário com as seguites informações
- Codigo: 1
- Nome: Fulano
- Email: f@gmail.com
- Telefone: 9.9999-9999
- Senha: 123456

_Resposta:_

In [ ]:
%%sql

INSERT INTO USUARIO VALUES 
(1,'Fulano','f@gmail.com','9.9999-9999','123456');

<b> B) </b> Inserir 3 usuários, sendo que 2 deles devem possuir os respectivos nomes, Ciclano e Beltrano. Preencha o restante das informações necessárias com dados fictícios. 

_Resposta:_

In [ ]:
%%sql

INSERT INTO USUARIO VALUES 
(2,'Ciclano','c@gmail.com','9.9999-9993','1234568'),
(3,'Beltrano','b@gmail.com','9.9999-9994','1234569'),
(4,'Terciano','t@gmail.com','9.9999-9992','1234567');

<b> C) </b> Inserir as seguintes categorias de receitas: 

- Carnes
- Aves
- Peixes
- Salada
- Sobremesa
- Vegana
- Massa
- Bolo
- Sanduíche
- Molho

_Resposta:_

In [ ]:
%%sql

INSERT INTO CATEGORIA VALUES 
('Carnes'),
('Aves'),
('Peixes'),
('Salada'),
('Sobremesa'),
('Vegana'),
('Massa'),
('Bolo'),
('Sanduíche'),
('Molho');

<b> D) </b> Inserir 3 novas categorias de receitas.

_Resposta:_

In [ ]:
%%sql

INSERT INTO CATEGORIA VALUES 
('CategoriaA'),
('CategoriaB'),
('CategoriaC');

<b> E) </b> Inserir os seguintes ingredientes: 

- Alecrim
- Alho
- Arroz
- Azeite
- Batata
- Músculo bovino 
    - Descrição: Carne de Segunda
- Castanha
    - Descrição: Do Pará
- Cebola
- Cheiro-verde
    - Descrição: Mistura de ervas
- Cogumelo
- Iogurte
    - Descrição: Natural sem açucar
- Limão
- Pimenta
- Tomate
- Vinho

_Resposta:_

In [ ]:
%%sql

INSERT INTO INGREDIENTE VALUES 
(1,'Alecrim',NULL),
(2,'Alho',NULL),
(3,'Arroz',NULL),
(4,'Azeite',NULL),
(5,'Batata',NULL),
(6,'Músculo bovino','Carne de Segunda'),
(7,'Castanha','Do Pará'),
(8,'Cebola',NULL),
(9,'Cheiro-verde','Mistura de ervas'),
(10,'Cogumelo',NULL),
(11,'Iogurte','Natural sem açucar'),
(12,'Limão',NULL),
(13,'Pimenta',NULL),
(14,'Tomate',NULL),
(15,'Vinho',NULL);

<b> F) </b> Inserir uma receita com as seguintes informações

- Codigo: 1
- Nome: Ovo cozido
- Tempo: 10 minutos
- Passos: 
    - Leve uma panela com água ao fogo. Quando ferver, mergulhe o ovo. Espere 7 minutos. Tire o ovo da panela e mergulhe numa tigela com água fria. Agora é só descascar e comer. Sal à gosto.
- Ingrediente:
    - Nome: Ovo
    - Descrição: De galinha
- Categoria
    - Dia-a-dia
- Usuario
    - Fulano

_Resposta:_

In [ ]:
%%sql

INSERT INTO INGREDIENTE VALUES (16,'Ovo','De galinha');

INSERT INTO CATEGORIA VALUES ('Dia-a-dia');

INSERT INTO RECEITA VALUES 
(1,'2020-11-22 12:30:15','10 minutos','Ovo cozido',5,'Leve uma panela com água ao fogo. Quando ferver, mergulhe o ovo. Espere 7 minutos. Tire o ovo da panela e mergulhe numa tigela com água fria. Agora é só descascar e comer. Sal à gosto.',1);

INSERT INTO CATEGORIA_RECEITA VALUES ('Dia-a-dia',1);

INSERT INTO INGREDIENTE_RECEITA VALUES (16,1,1);

<b> G) </b> Inserir 3 receitas no banco e os seus respectivos ingredientes e categorias.

_Resposta:_

In [ ]:
%%sql

INSERT INTO RECEITA VALUES 
(2,'2020-11-22 12:30:15','5 minutos','Ovo mexido',5,'Procure no Google',2),
(3,'2020-11-22 12:30:15','20 minutos','Salada básica',3,'Procure no Google',3),
(4,'2020-11-22 12:30:15','25 minutos','Risoto de músculo',4,'Procure no Google',1);

INSERT INTO CATEGORIA_RECEITA VALUES 
('Dia-a-dia',2),
('Salada',3),
('CategoriaA',4);

INSERT INTO INGREDIENTE_RECEITA VALUES 
(16,2,3),
(1,3,1),
(4,3,0.3),
(8,3,0.5),
(9,3,1),
(12,3,1),
(14,3,3),
(2,4,3),
(3,4,0.2),
(4,4,0.05),
(6,4,0.3);

<b> H) </b> Inserir um comentário com as seguintes informações
- Código: 1
- Data: 12/11/2020
- Texto: A melhor receita de ovo que já provei
- Receita: Ovo cozido
- Usuário: Fulano


_Resposta:_

In [ ]:
%%sql

INSERT INTO COMENTARIO VALUES
(1,'2020-11-12','A melhor receita de ovo que já provei',1,1);

<b> I) </b> Inserir 3 comentários no banco e os seus respectivos usuários e receitas.

_Resposta:_

In [ ]:
%%sql

INSERT INTO COMENTARIO VALUES
(2,'2020-10-13','A melhor receita de ovo que já provei',1,1),
(3,'2020-09-02','Não gostei',2,2),
(4,'2020-03-17','Podia ser melhor explicado os passos!',3,2);